:root {
  --color1: #f1b468;
  --color2: #f58f13;
  --font1: 'Roboto', Sans-Serif;
  --font2: 'Lora', Serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background: linear-gradient(90deg, var(--color1), var(--color2));
  color: #f1f1f1;
}

body::-webkit-scrollbar {
  display: none;
}

body * {
  /* border: 1px solid #121212; */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 0vw 0 0vw;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100%;
  backdrop-filter: brightness(1.1) blur(4px) saturate(1.2);
  z-index: 3;
  margin: 0;
}

nav .icons {
  display: flex;
  flex-direction: row;
  margin-right: 5vw;
  gap: 0px;
}

nav .icons a img:hover {
  opacity: 0.8;
}

nav .icons a img {
  width: 3vw;
  margin: 0;
}

nav img:nth-child(1) {
  margin-left: 5vw;
  padding: 10px 2vw 10px 2vw;
  width: 5vw;
  transition: all 400ms ease-out;
}

nav img:nth-child(1):hover {
  filter: brightness(1.5);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  gap: 5vw;
  padding: 20px;
  backdrop-filter: brightness(1.1) blur(4px) saturate(1.5);
  font-family: var(--font2);
  margin: 50px 0 0 0;
}

footer #icons {
  display: flex;
  flex-direction: row;
}

footer #icons img {
  width: 3vw;
  padding: 10px 1vw 10px 1vw;
}

footer p,
footer a {
  text-align: center;
  font-size: 15px;
  color: #121212;
}

@media screen and (max-width: 800px) {
  nav {
    justify-content: center;
  }

  nav .icons {
    display: none;
  }

  nav img:nth-child(1) {
    width: 22vw;
  }

  footer {
    flex-direction: column;
    padding: 20px 15vw 30px 15vw;
    font-size: 20px;
  }

  footer #icons {
    gap: 5vw;
  }

  footer #icons img {
    width: 10vw;
  }
}
