:root {
  --color1: #da984c;
}

body {
  margin: 0;
  padding: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  background-color: var(--color1);
}

body::-webkit-scrollbar {
  display: none;
}

body * {
  /* border: 1px solid #121212; */
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  backdrop-filter: brightness(1.1) blur(4px) saturate(1.1);
}

nav img {
  width: 5vw;
  transition: all 400ms ease-out;
}

nav img:hover {
  filter: saturate(1.5);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  padding: 20px;
}

footer #icons {
  display: flex;
  flex-direction: row;
}

footer #icons img {
  width: 3vw;
  padding: 10px 1vw 10px 1vw;
}

footer p {
  text-align: center;
}

@media screen and (max-width: 800px) {
  nav img {
    width: 22vw;
  }

  footer {
    flex-direction: column-reverse;
    filter: invert();
    padding: 20px 20vw 30px 20vw;
    font-size: 20px;
  }

  footer #icons {
    gap: 5vw;
  }

  footer #icons img {
    width: 10vw;
  }
}
